.rules {
  &__button {
    position: absolute;
    bottom: var(--spacing-lg);
    right: var(--spacing-lg);
  }

  &__diagram {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
  }
}
