// Variables
@use './styles/variables';

// Base
@use './styles/base';

// Components
@use './styles/components/game';
@use './styles/components/score';
@use './styles/components/rules';
@use './styles/components/leaderboard';

// Modal
@use './styles/modal';

// Animations
@use './styles/animations';

// Fonts
@use './styles/fonts';

#app {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
