.fade {
  &-enter-active {
    transition: opacity 0.4s ease, transform 0.4s ease;
  }

  &-leave-active {
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  &-enter-from {
    opacity: 0;
    transform: scale(0.95);
  }

  &-leave-to {
    opacity: 0;
    transform: scale(0.95);
  }
}


@keyframes pulse-shadow-paper {
  0% {
    box-shadow:
      0 5px 0px 3px var(--rps-paper-shadow),
      inset 0px 5px 0 3px var(--rps-inset-shadow),
      0 0 0 0 rgba(255, 255, 255, 0.3),
      0 0 0 0 rgba(255, 255, 255, 0.2),
      0 0 0 0 rgba(255, 255, 255, 0.1);
  }

  50% {
    box-shadow:
      0 5px 0px 3px var(--rps-paper-shadow),
      inset 0px 5px 0 3px var(--rps-inset-shadow),
      0 0 0 50px rgba(255, 255, 255, 0.01),
      0 0 0 100px rgba(255, 255, 255, 0.01),
      0 0 0 150px rgba(255, 255, 255, 0.01);
  }

  100% {
    box-shadow:
      0 5px 0px 3px var(--rps-paper-shadow),
      inset 0px 5px 0 3px var(--rps-inset-shadow),
      0 0 0 0 rgba(255, 255, 255, 0),
      0 0 0 0 rgba(255, 255, 255, 0),
      0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes pulse-shadow-scissors {
  0% {
    box-shadow:
      0 5px 0px 3px var(--rps-scissors-shadow),
      inset 0px 5px 0 3px var(--rps-inset-shadow),
      0 0 0 0 rgba(255, 255, 255, 0.3),
      0 0 0 0 rgba(255, 255, 255, 0.2),
      0 0 0 0 rgba(255, 255, 255, 0.1);
  }

  50% {
    box-shadow:
      0 5px 0px 3px var(--rps-scissors-shadow),
      inset 0px 5px 0 3px var(--rps-inset-shadow),
      0 0 0 50px rgba(255, 255, 255, 0.01),
      0 0 0 100px rgba(255, 255, 255, 0.01),
      0 0 0 150px rgba(255, 255, 255, 0.01);
  }

  100% {
    box-shadow:
      0 5px 0px 3px var(--rps-scissors-shadow),
      inset 0px 5px 0 3px var(--rps-inset-shadow),
      0 0 0 0 rgba(255, 255, 255, 0),
      0 0 0 0 rgba(255, 255, 255, 0),
      0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes pulse-shadow-rock {
  0% {
    box-shadow:
      0 5px 0px 3px var(--rps-rock-shadow),
      inset 0px 5px 0 3px var(--rps-inset-shadow),
      0 0 0 0 rgba(255, 255, 255, 0.3),
      0 0 0 0 rgba(255, 255, 255, 0.2),
      0 0 0 0 rgba(255, 255, 255, 0.1);
  }

  50% {
    box-shadow:
      0 5px 0px 3px var(--rps-rock-shadow),
      inset 0px 5px 0 3px var(--rps-inset-shadow),
      0 0 0 50px rgba(255, 255, 255, 0.01),
      0 0 0 100px rgba(255, 255, 255, 0.01),
      0 0 0 150px rgba(255, 255, 255, 0.01);
  }

  100% {
    box-shadow:
      0 5px 0px 3px var(--rps-rock-shadow),
      inset 0px 5px 0 3px var(--rps-inset-shadow),
      0 0 0 0 rgba(255, 255, 255, 0),
      0 0 0 0 rgba(255, 255, 255, 0),
      0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes pulse-shadow-lizard {
  0% {
    box-shadow:
      0 5px 0px 3px var(--rps-lizard-shadow),
      inset 0px 5px 0 3px var(--rps-inset-shadow),
      0 0 0 0 rgba(255, 255, 255, 0.3),
      0 0 0 0 rgba(255, 255, 255, 0.2),
      0 0 0 0 rgba(255, 255, 255, 0.1);
  }

  50% {
    box-shadow:
      0 5px 0px 3px var(--rps-lizard-shadow),
      inset 0px 5px 0 3px var(--rps-inset-shadow),
      0 0 0 50px rgba(255, 255, 255, 0.01),
      0 0 0 100px rgba(255, 255, 255, 0.01),
      0 0 0 150px rgba(255, 255, 255, 0.01);
  }

  100% {
    box-shadow:
      0 5px 0px 3px var(--rps-lizard-shadow),
      inset 0px 5px 0 3px var(--rps-inset-shadow),
      0 0 0 0 rgba(255, 255, 255, 0),
      0 0 0 0 rgba(255, 255, 255, 0),
      0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes pulse-shadow-spock {
  0% {
    box-shadow:
      0 5px 0px 3px var(--rps-spock-shadow),
      inset 0px 5px 0 3px var(--rps-inset-shadow),
      0 0 0 0 rgba(255, 255, 255, 0.3),
      0 0 0 0 rgba(255, 255, 255, 0.2),
      0 0 0 0 rgba(255, 255, 255, 0.1);
  }

  50% {
    box-shadow:
      0 5px 0px 3px var(--rps-spock-shadow),
      inset 0px 5px 0 3px var(--rps-inset-shadow),
      0 0 0 50px rgba(255, 255, 255, 0.01),
      0 0 0 100px rgba(255, 255, 255, 0.01),
      0 0 0 150px rgba(255, 255, 255, 0.01);
  }

  100% {
    box-shadow:
      0 5px 0px 3px var(--rps-spock-shadow),
      inset 0px 5px 0 3px var(--rps-inset-shadow),
      0 0 0 0 rgba(255, 255, 255, 0),
      0 0 0 0 rgba(255, 255, 255, 0),
      0 0 0 0 rgba(255, 255, 255, 0);
  }
}

/* Apply specific animation based on item type */
.game__item--paper.active {
  animation: pulse-shadow-paper 1.5s ease-in-out infinite;
}

.game__item--scissors.active {
  animation: pulse-shadow-scissors 1.5s ease-in-out infinite;
}

.game__item--rock.active {
  animation: pulse-shadow-rock 1.5s ease-in-out infinite;
}

.game__item--lizard.active {
  animation: pulse-shadow-lizard 1.5s ease-in-out infinite;
}

.game__item--spock.active {
  animation: pulse-shadow-spock 1.5s ease-in-out infinite;
}

/* Modal Animations */
.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.3s ease;

  .modal__backdrop {
    transition: opacity 0.3s ease;
  }

  .modal__container {
    transition: opacity 0.3s ease, transform 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  }
}

.modal-enter-from {
  opacity: 0;

  .modal__backdrop {
    opacity: 0;
  }

  .modal__container {
    opacity: 0;
    transform: translate(-50%, calc(-50% + 30px));
  }
}

.modal-leave-to {
  opacity: 0;

  .modal__backdrop {
    opacity: 0;
  }

  .modal__container {
    opacity: 0;
    transform: translate(-50%, calc(-50% + 30px));
  }
}